<!doctype html>
<html>
  <head>
    <title>Hazard Reporter</title>
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header id="splash">
      <h1>Hazard Reporter</h1>
    </header>
    <%= yield %>
  </body>
</html>
