<!doctype html>
<html>
  <head>
    <title>Hazard Reporter</title>
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header id="splash">
      <nav>
        <% if !logged_in? %>
          <% if request.path_info != '/signup' %>
            <a href="/signup">Sign up</a>
          <% end %>
          |
          <% if request.path_info != '/login' %>
            <a href="/login">Login</a>
          <% end %>
        <% else %>
          <a href='/logout'>Logout</a>
        <% end %>
      </nav>
      <h1><a href="/">Hazard Reporter</a></h1>
    </header>
    <%= yield %>
  </body>
</html>
